.title{
    
        text-align: center;
        color: black;
        font-size: 40px;
        font-weight: 100px;
        text-shadow: 1in;
    

}
.ask{
    
    text-align: center;
    color: black;
    font-size: 40px;
    font-weight: 100px;
    text-shadow: 1in;


}

.demo{
font-size: 50px;
}

.below{
font-size: 25px;
}